In [1]:
# Import Dependencies
import pandas as pd
import datetime
import numpy as np
from sqlalchemy import create_engine

# import CSVs
food_df = pd.read_csv('Food_Inspections.csv')
sidewalk_df = pd.read_csv('Sidewalk_Cafe_Permits_-_Current.csv')

In [2]:
food_df.columns

Index(['Inspection ID', 'DBA Name', 'AKA Name', 'License #', 'Facility Type',
       'Risk', 'Address', 'City', 'State', 'Zip', 'Inspection Date',
       'Inspection Type', 'Results', 'Violations', 'Latitude', 'Longitude',
       'Location'],
      dtype='object')

In [3]:
# create dataframe with only needed columns
food_df = food_df[['Inspection ID', 'DBA Name','License #',
        'Address','Zip', 'Inspection Date',
       'Inspection Type', 'Results', 'Violations']]

food_df.head()

,Inspection ID,DBA Name,License #,Address,Zip,Inspection Date,Inspection Type,Results,Violations
0,2484567,ROYALTY,1306130.0,3810 W 63RD ST,60629.0,02/05/2021,Non-Inspection,No Entry,NaN
1,2473041,ROSATI'S GRANT PARK,2762683.0,23 E ADAMS ST,60603.0,01/22/2021,License,Pass,NaN
2,2472978,ENZO & EMILIA,2762588.0,2840-2542 N MILKWAUKEE AVE,60647.0,01/21/2021,License,Pass,NaN
3,2472609,MILLENNIAL MART,2528794.0,848 N ORLEANS ST,60610.0,01/12/2021,Canvass,Pass,NaN
4,2464109,JERSEY MIKE'S SUBS,2766632.0,4054 W PETERSON AVE,60646.0,12/28/2020,License,Not Ready,NaN

In [4]:
food_df['Address'] = food_df['Address'].str.replace(' ', '')

In [5]:
food_df['Inspection Date_Time'] = pd.to_datetime(food_df['Inspection Date'])
food_df.head()

,Inspection ID,DBA Name,License #,Address,Zip,Inspection Date,Inspection Type,Results,Violations,Inspection Date_Time
0,2484567,ROYALTY,1306130.0,3810W63RDST,60629.0,02/05/2021,Non-Inspection,No Entry,NaN,2021-02-05
1,2473041,ROSATI'S GRANT PARK,2762683.0,23EADAMSST,60603.0,01/22/2021,License,Pass,NaN,2021-01-22
2,2472978,ENZO & EMILIA,2762588.0,2840-2542NMILKWAUKEEAVE,60647.0,01/21/2021,License,Pass,NaN,2021-01-21
3,2472609,MILLENNIAL MART,2528794.0,848NORLEANSST,60610.0,01/12/2021,Canvass,Pass,NaN,2021-01-12
4,2464109,JERSEY MIKE'S SUBS,2766632.0,4054WPETERSONAVE,60646.0,12/28/2020,License,Not Ready,NaN,2020-12-28

In [6]:
food_df= food_df.loc[food_df['Inspection Date_Time'] >= '2020']
food_df.to_csv('Final_Food.csv')
food_df.head()

,Inspection ID,DBA Name,License #,Address,Zip,Inspection Date,Inspection Type,Results,Violations,Inspection Date_Time
0,2484567,ROYALTY,1306130.0,3810W63RDST,60629.0,02/05/2021,Non-Inspection,No Entry,NaN,2021-02-05
1,2473041,ROSATI'S GRANT PARK,2762683.0,23EADAMSST,60603.0,01/22/2021,License,Pass,NaN,2021-01-22
2,2472978,ENZO & EMILIA,2762588.0,2840-2542NMILKWAUKEEAVE,60647.0,01/21/2021,License,Pass,NaN,2021-01-21
3,2472609,MILLENNIAL MART,2528794.0,848NORLEANSST,60610.0,01/12/2021,Canvass,Pass,NaN,2021-01-12
4,2464109,JERSEY MIKE'S SUBS,2766632.0,4054WPETERSONAVE,60646.0,12/28/2020,License,Not Ready,NaN,2020-12-28

In [7]:
sidewalk_df.columns

Index(['PERMIT NUMBER', 'ACCOUNT NUMBER', 'SITE NUMBER', 'LEGAL NAME',
       'DOING BUSINESS AS NAME', 'ISSUED DATE', 'EXPIRATION DATE',
       'PAYMENT DATE', 'ADDRESS', 'ADDRESS NUMBER START', 'ADDRESS NUMBER',
       'STREET DIRECTION', 'STREET', 'STREET TYPE', 'CITY', 'STATE',
       'ZIP CODE', 'WARD', 'PRECINCT', 'WARD PRECINCT', 'POLICE DISTRICT',
       'LATITUDE', 'LONGITUDE', 'LOCATION'],
      dtype='object')

In [8]:
sidewalk_df = sidewalk_df[['PERMIT NUMBER', 'ISSUED DATE', 'EXPIRATION DATE','ADDRESS']]
sidewalk_df.head()

   PERMIT NUMBER ISSUED DATE EXPIRATION DATE               ADDRESS
0        1144484  04/26/2021      05/31/2021     1313 S WABASH AVE
1        1144848  04/26/2021      05/31/2021    3634 W BELMONT AVE
2        1145734  04/26/2021      05/31/2021  4042 N MILWAUKEE AVE
3        1145768  04/26/2021      05/31/2021   6689 N OLIPHANT AVE
4        1146032  04/26/2021      05/31/2021        534 N CLARK ST

In [9]:
sidewalk_df = sidewalk_df.rename(columns = {"ADDRESS": "Address"})
sidewalk_df['Address'] = sidewalk_df['Address'].str.replace(' ', '')

In [10]:
sidewalk_df.head()

   PERMIT NUMBER ISSUED DATE EXPIRATION DATE            Address
0        1144484  04/26/2021      05/31/2021     1313SWABASHAVE
1        1144848  04/26/2021      05/31/2021    3634WBELMONTAVE
2        1145734  04/26/2021      05/31/2021  4042NMILWAUKEEAVE
3        1145768  04/26/2021      05/31/2021   6689NOLIPHANTAVE
4        1146032  04/26/2021      05/31/2021        534NCLARKST

## Joined two databases together

In [11]:
Join_df = sidewalk_df.merge(food_df, how= "inner", on='Address')
Join_df

,PERMIT NUMBER,ISSUED DATE,EXPIRATION DATE,Address,Inspection ID,DBA Name,License #,Zip,Inspection Date,Inspection Type,Results,Violations,Inspection Date_Time
0,1144848,04/26/2021,05/31/2021,3634WBELMONTAVE,2453606,AVONDALE TAP,2368771.0,60618.0,10/20/2020,Canvass,No Entry,NaN,2020-10-20
1,1144848,04/26/2021,05/31/2021,3634WBELMONTAVE,2454087,AVONDALE TAP,2368771.0,60618.0,10/28/2020,Canvass,Pass,"38. INSECTS, RODENTS, & ANIMALS NOT PRESENT - ...",2020-10-28
2,1145734,04/26/2021,05/31/2021,4042NMILWAUKEEAVE,2386488,FANNIE SCHMOE'S BAKERY LLC.,2694484.0,60641.0,08/25/2020,Short Form Complaint,Pass w/ Conditions,16. FOOD-CONTACT SURFACES: CLEANED & SANITIZED...,2020-08-25
3,1145734,04/26/2021,05/31/2021,4042NMILWAUKEEAVE,2373840,FANNIE SCHMOE'S BAKERY LLC.,2694484.0,60641.0,06/17/2020,Canvass,Pass w/ Conditions,10. ADEQUATE HANDWASHING SINKS PROPERLY SUPPLI...,2020-06-17
4,1146032,04/26/2021,05/31/2021,534NCLARKST,2385736,BRINDILLE,2087734.0,60654.0,08/05/2020,Canvass,No Entry,NaN,2020-08-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1618,1148368,04/13/2021,02/28/2022,4022NWESTERNAVE,2473112,KRAKEN SUSHI & BEYOND,2767181.0,60618.0,01/26/2021,License,Fail,10. ADEQUATE HANDWASHING SINKS PROPERLY SUPPLI...,2021-01-26
1619,1148368,04/13/2021,02/28/2022,4022NWESTERNAVE,2456231,THAI ROOM RESTAURANT INC.,9571.0,60618.0,11/03/2020,Canvass,Pass w/ Conditions,5. PROCEDURES FOR RESPONDING TO VOMITING AND D...,2020-11-03
1620,1148380,04/13/2021,02/28/2022,2566NCLARKST,2492909,FONS EMPANADAS,2776256.0,60614.0,03/15/2021,License,Pass,39. CONTAMINATION PREVENTED DURING FOOD PREPAR...,2021-03-15
1621,1148451,04/16/2021,02/28/2022,614WDIVERSEYPKWY,2492975,THE VEGGIE GRILL,2563666.0,60614.0,03/16/2021,Canvass,Out of Business,NaN,2021-03-16
1622,1148451,04/16/2021,02/28/2022,614WDIVERSEYPKWY,2359333,THE VEGGIE GRILL,2563666.0,60614.0,01/24/2020,Canvass,Pass w/ Conditions,10. ADEQUATE HANDWASHING SINKS PROPERLY SUPPLI...,2020-01-24

In [12]:
Join_df = Join_df.dropna()
Join_df

,PERMIT NUMBER,ISSUED DATE,EXPIRATION DATE,Address,Inspection ID,DBA Name,License #,Zip,Inspection Date,Inspection Type,Results,Violations,Inspection Date_Time
1,1144848,04/26/2021,05/31/2021,3634WBELMONTAVE,2454087,AVONDALE TAP,2368771.0,60618.0,10/28/2020,Canvass,Pass,"38. INSECTS, RODENTS, & ANIMALS NOT PRESENT - ...",2020-10-28
2,1145734,04/26/2021,05/31/2021,4042NMILWAUKEEAVE,2386488,FANNIE SCHMOE'S BAKERY LLC.,2694484.0,60641.0,08/25/2020,Short Form Complaint,Pass w/ Conditions,16. FOOD-CONTACT SURFACES: CLEANED & SANITIZED...,2020-08-25
3,1145734,04/26/2021,05/31/2021,4042NMILWAUKEEAVE,2373840,FANNIE SCHMOE'S BAKERY LLC.,2694484.0,60641.0,06/17/2020,Canvass,Pass w/ Conditions,10. ADEQUATE HANDWASHING SINKS PROPERLY SUPPLI...,2020-06-17
5,1146032,04/26/2021,05/31/2021,534NCLARKST,2385884,BRINDILLE,2087734.0,60654.0,08/10/2020,Canvass,Pass w/ Conditions,5. PROCEDURES FOR RESPONDING TO VOMITING AND D...,2020-08-10
6,1144604,04/30/2021,05/31/2021,434WONTARIOST,2359847,VICTORY ITALIAN,2578766.0,60654.0,02/04/2020,Canvass,Pass w/ Conditions,22. PROPER COLD HOLDING TEMPERATURES - Comment...,2020-02-04
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1615,1148367,04/14/2021,02/28/2022,6334NCLARKST,2386958,GRACIE O'MALLEY'S EDGEWATER,2749506.0,60660.0,09/09/2020,License,Pass,16. FOOD-CONTACT SURFACES: CLEANED & SANITIZED...,2020-09-09
1618,1148368,04/13/2021,02/28/2022,4022NWESTERNAVE,2473112,KRAKEN SUSHI & BEYOND,2767181.0,60618.0,01/26/2021,License,Fail,10. ADEQUATE HANDWASHING SINKS PROPERLY SUPPLI...,2021-01-26
1619,1148368,04/13/2021,02/28/2022,4022NWESTERNAVE,2456231,THAI ROOM RESTAURANT INC.,9571.0,60618.0,11/03/2020,Canvass,Pass w/ Conditions,5. PROCEDURES FOR RESPONDING TO VOMITING AND D...,2020-11-03
1620,1148380,04/13/2021,02/28/2022,2566NCLARKST,2492909,FONS EMPANADAS,2776256.0,60614.0,03/15/2021,License,Pass,39. CONTAMINATION PREVENTED DURING FOOD PREPAR...,2021-03-15
1622,1148451,04/16/2021,02/28/2022,614WDIVERSEYPKWY,2359333,THE VEGGIE GRILL,2563666.0,60614.0,01/24/2020,Canvass,Pass w/ Conditions,10. ADEQUATE HANDWASHING SINKS PROPERLY SUPPLI...,2020-01-24

In [13]:
Join_df['Violation_Number'] = Join_df['Violations'].str.split('.').str[0]
Join_df['Violation_Desc'] = Join_df['Violations'].str.split('.').str[1]
Join_df['Violation_Number'] = Join_df['Violation_Number'].astype(int)
Join_df = Join_df.rename(columns = {"Inspection Type": "Inspection_Type"})
Join_df

<ipython-input-13-4caf70af0740>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Join_df['Violation_Number'] = Join_df['Violations'].str.split('.').str[0]
<ipython-input-13-4caf70af0740>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Join_df['Violation_Desc'] = Join_df['Violations'].str.split('.').str[1]
<ipython-input-13-4caf70af0740>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Join_df['Violation_Number'] = Join_df['Violation_Number'].astype(int)

,PERMIT NUMBER,ISSUED DATE,EXPIRATION DATE,Address,Inspection ID,DBA Name,License #,Zip,Inspection Date,Inspection_Type,Results,Violations,Inspection Date_Time,Violation_Number,Violation_Desc
1,1144848,04/26/2021,05/31/2021,3634WBELMONTAVE,2454087,AVONDALE TAP,2368771.0,60618.0,10/28/2020,Canvass,Pass,"38. INSECTS, RODENTS, & ANIMALS NOT PRESENT - ...",2020-10-28,38,"INSECTS, RODENTS, & ANIMALS NOT PRESENT - Com..."
2,1145734,04/26/2021,05/31/2021,4042NMILWAUKEEAVE,2386488,FANNIE SCHMOE'S BAKERY LLC.,2694484.0,60641.0,08/25/2020,Short Form Complaint,Pass w/ Conditions,16. FOOD-CONTACT SURFACES: CLEANED & SANITIZED...,2020-08-25,16,FOOD-CONTACT SURFACES: CLEANED & SANITIZED - ...
3,1145734,04/26/2021,05/31/2021,4042NMILWAUKEEAVE,2373840,FANNIE SCHMOE'S BAKERY LLC.,2694484.0,60641.0,06/17/2020,Canvass,Pass w/ Conditions,10. ADEQUATE HANDWASHING SINKS PROPERLY SUPPLI...,2020-06-17,10,ADEQUATE HANDWASHING SINKS PROPERLY SUPPLIED ...
5,1146032,04/26/2021,05/31/2021,534NCLARKST,2385884,BRINDILLE,2087734.0,60654.0,08/10/2020,Canvass,Pass w/ Conditions,5. PROCEDURES FOR RESPONDING TO VOMITING AND D...,2020-08-10,5,PROCEDURES FOR RESPONDING TO VOMITING AND DIA...
6,1144604,04/30/2021,05/31/2021,434WONTARIOST,2359847,VICTORY ITALIAN,2578766.0,60654.0,02/04/2020,Canvass,Pass w/ Conditions,22. PROPER COLD HOLDING TEMPERATURES - Comment...,2020-02-04,22,PROPER COLD HOLDING TEMPERATURES - Comments: ...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1615,1148367,04/14/2021,02/28/2022,6334NCLARKST,2386958,GRACIE O'MALLEY'S EDGEWATER,2749506.0,60660.0,09/09/2020,License,Pass,16. FOOD-CONTACT SURFACES: CLEANED & SANITIZED...,2020-09-09,16,FOOD-CONTACT SURFACES: CLEANED & SANITIZED - ...
1618,1148368,04/13/2021,02/28/2022,4022NWESTERNAVE,2473112,KRAKEN SUSHI & BEYOND,2767181.0,60618.0,01/26/2021,License,Fail,10. ADEQUATE HANDWASHING SINKS PROPERLY SUPPLI...,2021-01-26,10,ADEQUATE HANDWASHING SINKS PROPERLY SUPPLIED ...
1619,1148368,04/13/2021,02/28/2022,4022NWESTERNAVE,2456231,THAI ROOM RESTAURANT INC.,9571.0,60618.0,11/03/2020,Canvass,Pass w/ Conditions,5. PROCEDURES FOR RESPONDING TO VOMITING AND D...,2020-11-03,5,PROCEDURES FOR RESPONDING TO VOMITING AND DIA...
1620,1148380,04/13/2021,02/28/2022,2566NCLARKST,2492909,FONS EMPANADAS,2776256.0,60614.0,03/15/2021,License,Pass,39. CONTAMINATION PREVENTED DURING FOOD PREPAR...,2021-03-15,39,CONTAMINATION PREVENTED DURING FOOD PREPARATI...
1622,1148451,04/16/2021,02/28/2022,614WDIVERSEYPKWY,2359333,THE VEGGIE GRILL,2563666.0,60614.0,01/24/2020,Canvass,Pass w/ Conditions,10. ADEQUATE HANDWASHING SINKS PROPERLY SUPPLI...,2020-01-24,10,ADEQUATE HANDWASHING SINKS PROPERLY SUPPLIED ...

In [14]:
Violations_df = Join_df[['Violation_Number','Violation_Desc']]
Violations_df = Violations_df.drop_duplicates(subset = ['Violation_Number'], keep='first')
Violations_df['Violation_Number'] = Violations_df['Violation_Number'].astype(int)
Violations_df = Violations_df.sort_values('Violation_Number')
Violations_df = Violations_df.reset_index()
Violations_df = Violations_df[['Violation_Number','Violation_Desc']]
Violations_df.head()

   Violation_Number                                     Violation_Desc
0                 1   PERSON IN CHARGE PRESENT, DEMONSTRATES KNOWLE...
1                 2   CITY OF CHICAGO FOOD SERVICE SANITATION CERTI...
2                 3   MANAGEMENT, FOOD EMPLOYEE AND CONDITIONAL EMP...
3                 5   PROCEDURES FOR RESPONDING TO VOMITING AND DIA...
4                 6   PROPER EATING, TASTING, DRINKING, OR TOBACCO ...

In [17]:
Inspection_df = Join_df[['Inspection_Type']]
Inspection_df = Inspection_df.drop_duplicates(subset = ['Inspection_Type'], keep='first')
Inspection_df = Inspection_df.reset_index()
Inspection_df = Inspection_df.rename(columns = {"index": "Inspection_Type_ID"})
Inspection_df

    Inspection_Type_ID           Inspection_Type
0                    1                   Canvass
1                    2      Short Form Complaint
2                   14            Non-Inspection
3                   16     Canvass Re-Inspection
4                   24                 Complaint
5                   40   Complaint Re-Inspection
6                   67                   License
7                  685  Suspected Food Poisoning
8                  751     License Re-Inspection
9                 1174         Recent Inspection
10                1492              Consultation

In [18]:
final_df = Join_df.merge(Inspection_df, how= "inner", on='Inspection_Type')
final_df.head()

,PERMIT NUMBER,ISSUED DATE,EXPIRATION DATE,Address,Inspection ID,DBA Name,License #,Zip,Inspection Date,Inspection_Type,Results,Violations,Inspection Date_Time,Violation_Number,Violation_Desc,Inspection_Type_ID
0,1144848,04/26/2021,05/31/2021,3634WBELMONTAVE,2454087,AVONDALE TAP,2368771.0,60618.0,10/28/2020,Canvass,Pass,"38. INSECTS, RODENTS, & ANIMALS NOT PRESENT - ...",2020-10-28,38,"INSECTS, RODENTS, & ANIMALS NOT PRESENT - Com...",1
1,1145734,04/26/2021,05/31/2021,4042NMILWAUKEEAVE,2373840,FANNIE SCHMOE'S BAKERY LLC.,2694484.0,60641.0,06/17/2020,Canvass,Pass w/ Conditions,10. ADEQUATE HANDWASHING SINKS PROPERLY SUPPLI...,2020-06-17,10,ADEQUATE HANDWASHING SINKS PROPERLY SUPPLIED ...,1
2,1146032,04/26/2021,05/31/2021,534NCLARKST,2385884,BRINDILLE,2087734.0,60654.0,08/10/2020,Canvass,Pass w/ Conditions,5. PROCEDURES FOR RESPONDING TO VOMITING AND D...,2020-08-10,5,PROCEDURES FOR RESPONDING TO VOMITING AND DIA...,1
3,1144604,04/30/2021,05/31/2021,434WONTARIOST,2359847,VICTORY ITALIAN,2578766.0,60654.0,02/04/2020,Canvass,Pass w/ Conditions,22. PROPER COLD HOLDING TEMPERATURES - Comment...,2020-02-04,22,PROPER COLD HOLDING TEMPERATURES - Comments: ...,1
4,1143690,02/14/2020,05/31/2021,1385NMILWAUKEEAVE,2385446,OIISTAR,2146279.0,60622.0,07/28/2020,Canvass,Pass,"53. TOILET FACILITIES: PROPERLY CONSTRUCTED, S...",2020-07-28,53,"TOILET FACILITIES: PROPERLY CONSTRUCTED, SUPP...",1

In [78]:
Results_df = Join_df[['Results']]
Results_df = Results_df.drop_duplicates(subset = ['Results'], keep='first')
Results_df = Results_df.rename(columns = {"index": "results_ID", "Results": "results"})
Results_df.head()

               results
1                 Pass
2   Pass w/ Conditions
14            No Entry
18                Fail
67           Not Ready

In [20]:
final_df = final_df.merge(Results_df, how= "inner", on='Results')
final_df.head()

,PERMIT NUMBER,ISSUED DATE,EXPIRATION DATE,Address,Inspection ID,DBA Name,License #,Zip,Inspection Date,Inspection_Type,Results,Violations,Inspection Date_Time,Violation_Number,Violation_Desc,Inspection_Type_ID,Results_ID
0,1144848,04/26/2021,05/31/2021,3634WBELMONTAVE,2454087,AVONDALE TAP,2368771.0,60618.0,10/28/2020,Canvass,Pass,"38. INSECTS, RODENTS, & ANIMALS NOT PRESENT - ...",2020-10-28,38,"INSECTS, RODENTS, & ANIMALS NOT PRESENT - Com...",1,1
1,1143690,02/14/2020,05/31/2021,1385NMILWAUKEEAVE,2385446,OIISTAR,2146279.0,60622.0,07/28/2020,Canvass,Pass,"53. TOILET FACILITIES: PROPERLY CONSTRUCTED, S...",2020-07-28,53,"TOILET FACILITIES: PROPERLY CONSTRUCTED, SUPP...",1,1
2,1143691,03/04/2020,05/31/2021,1914WMONTROSEAVE,2383209,LA AMISTAD INC.,2621319.0,60613.0,07/22/2020,Canvass,Pass,40. PERSONAL CLEANLINESS - Comments: OBSERVED ...,2020-07-22,40,PERSONAL CLEANLINESS - Comments: OBSERVED FOO...,1,1
3,1143723,06/18/2020,05/31/2021,1750WDIVISIONST,2382793,CAFFE STREETS,2641926.0,60622.0,07/09/2020,Canvass,Pass,45. SINGLE-USE/SINGLE-SERVICE ARTICLES: PROPER...,2020-07-09,45,SINGLE-USE/SINGLE-SERVICE ARTICLES: PROPERLY ...,1,1
4,1143724,03/10/2020,05/31/2021,1655NSEDGWICKST,2472478,TWIN ANCHORS,43102.0,60614.0,01/08/2021,Canvass,Pass,39. CONTAMINATION PREVENTED DURING FOOD PREPAR...,2021-01-08,39,CONTAMINATION PREVENTED DURING FOOD PREPARATI...,1,1

In [21]:
final_df.columns

Index(['PERMIT NUMBER', 'ISSUED DATE', 'EXPIRATION DATE', 'Address',
       'Inspection ID', 'DBA Name', 'License #', 'Zip', 'Inspection Date',
       'Inspection_Type', 'Results', 'Violations', 'Inspection Date_Time',
       'Violation_Number', 'Violation_Desc', 'Inspection_Type_ID',
       'Results_ID'],
      dtype='object')

In [24]:
final_df = final_df[['PERMIT NUMBER', 'ISSUED DATE', 'EXPIRATION DATE', 'Address',
       'Inspection ID', 'DBA Name', 'License #', 'Zip', 'Inspection Date',
        'Inspection Date_Time',
       'Violation_Number', 'Inspection_Type_ID',
       'Results_ID']]
final_df

,PERMIT NUMBER,ISSUED DATE,EXPIRATION DATE,Address,Inspection ID,DBA Name,License #,Zip,Inspection Date,Inspection Date_Time,Violation_Number,Inspection_Type_ID,Results_ID
0,1144848,04/26/2021,05/31/2021,3634WBELMONTAVE,2454087,AVONDALE TAP,2368771.0,60618.0,10/28/2020,2020-10-28,38,1,1
1,1143690,02/14/2020,05/31/2021,1385NMILWAUKEEAVE,2385446,OIISTAR,2146279.0,60622.0,07/28/2020,2020-07-28,53,1,1
2,1143691,03/04/2020,05/31/2021,1914WMONTROSEAVE,2383209,LA AMISTAD INC.,2621319.0,60613.0,07/22/2020,2020-07-22,40,1,1
3,1143723,06/18/2020,05/31/2021,1750WDIVISIONST,2382793,CAFFE STREETS,2641926.0,60622.0,07/09/2020,2020-07-09,45,1,1
4,1143724,03/10/2020,05/31/2021,1655NSEDGWICKST,2472478,TWIN ANCHORS,43102.0,60614.0,01/08/2021,2021-01-08,39,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1184,1143726,02/28/2020,05/31/2021,3937NLINCOLNAVE,2386453,BROWNSTONE TAVERN & GRILL,39851.0,60613.0,08/25/2020,2020-08-25,10,16,14
1185,1144444,03/17/2020,05/31/2021,1220WWEBSTERAVE,2369219,Floriole Bakery LLC,2002885.0,60614.0,04/15/2020,2020-04-15,8,16,14
1186,1144642,06/18/2020,05/31/2021,151NMICHIGANAVE,2366313,SBARROS,2709316.0,60601.0,03/25/2020,2020-03-25,3,40,14
1187,1145579,07/10/2020,05/31/2021,222NLASALLEST,2366102,HALSTED STREET DELI,2064453.0,60601.0,03/20/2020,2020-03-20,36,1174,14
1188,1143869,03/10/2020,05/31/2021,2105SSTATEST,2382558,REGGIE'S BAR & GRILL,2630737.0,60616.0,07/02/2020,2020-07-02,39,67,67

In [58]:
final_df = final_df.rename(columns = {"PERMIT NUMBER": "PERMIT_NUMBER", 'ISSUED DATE':'ISSUED_DATE', 'EXPIRATION DATE': 'EXPIRATION_DATE','Inspection ID': 'Inspection_ID',
                                     'DBA Name': 'DBA_Name', 'License #': 'License_num','Inspection Date': 'Inspection_Date', 'Inspection Date_Time':'Inspection_Date_Time' })
final_df.columns

Index(['PERMIT_NUMBER', 'ISSUED_DATE', 'EXPIRATION_DATE', 'Address',
       'Inspection_ID', 'DBA_Name', 'License_#', 'Zip', 'Inspection_Date',
       'Inspection_Date_Time', 'Violation_Number', 'Inspection_Type_ID',
       'Results_ID'],
      dtype='object')

# Connect to local database

In [49]:
rds_connection_string = "postgres:class123@localhost:5432/restaurants_df"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [50]:
engine.table_names()

['violations', 'inspection', 'final_df', 'results']

In [71]:
Results_df.columns

Index(['results'], dtype='object')

## Use pandas to load csv converted DataFrame into database

In [72]:
Results_df.to_sql(name='results', con=engine, if_exists='replace', index=True, index_label="results_ID")

In [74]:
final_df.to_sql(name='final_df', con=engine, if_exists='replace', index=False)

In [75]:
Violations_df.to_sql(name='violations', con=engine, if_exists='replace', index=False)

In [76]:
Inspection_df.to_sql(name='inspection', con=engine, if_exists='replace', index=False)

## Confirm data has been added by querying the table

In [77]:
pd.read_sql_query('select * from results', con=engine).head()

   results_ID             results
0           1                Pass
1           2  Pass w/ Conditions
2          14            No Entry
3          18                Fail
4          67           Not Ready