In [55]:
import pandas as pd
import datetime
import numpy as np
food_df = pd.read_csv('Food_Inspections.csv')
sidewalk = pd.read_csv('Sidewalk_Cafe_Permits_-_Current.csv')

In [56]:
food_df.head()

,Inspection ID,DBA Name,AKA Name,License #,Facility Type,Risk,Address,City,State,Zip,Inspection Date,Inspection Type,Results,Violations,Latitude,Longitude,Location
0,2484567,ROYALTY,ROYALTY,1306130.0,Restaurant,Risk 1 (High),3810 W 63RD ST,CHICAGO,IL,60629.0,02/05/2021,Non-Inspection,No Entry,NaN,41.778837,-87.718361,"(-87.71836138998039, 41.778836516734856)"
1,2473041,ROSATI'S GRANT PARK,ROSATI'S,2762683.0,Restaurant,Risk 1 (High),23 E ADAMS ST,CHICAGO,IL,60603.0,01/22/2021,License,Pass,NaN,41.879391,-87.626848,"(-87.62684825563626, 41.879391313239694)"
2,2472978,ENZO & EMILIA,ENZO & EMILIA,2762588.0,Restaurant,Risk 1 (High),2840-2542 N MILKWAUKEE AVE,CHICAGO,IL,60647.0,01/21/2021,License,Pass,NaN,NaN,NaN,NaN
3,2472609,MILLENNIAL MART,MILLENNIAL MART,2528794.0,Grocery Store,Risk 3 (Low),848 N ORLEANS ST,CHICAGO,IL,60610.0,01/12/2021,Canvass,Pass,NaN,41.898120,-87.637377,"(-87.63737677022044, 41.89812004046833)"
4,2464109,JERSEY MIKE'S SUBS,JERSEY MIKE'S SUBS,2766632.0,Restaurant,Risk 1 (High),4054 W PETERSON AVE,CHICAGO,IL,60646.0,12/28/2020,License,Not Ready,NaN,41.990219,-87.730808,"(-87.73080815750058, 41.99021854392249)"

In [57]:
food_df.columns

Index(['Inspection ID', 'DBA Name', 'AKA Name', 'License #', 'Facility Type',
       'Risk', 'Address', 'City', 'State', 'Zip', 'Inspection Date',
       'Inspection Type', 'Results', 'Violations', 'Latitude', 'Longitude',
       'Location'],
      dtype='object')

In [58]:
food_col = food_df[['Inspection ID', 'DBA Name','License #', 'Facility Type',
       'Risk', 'Address','Zip', 'Inspection Date',
       'Inspection Type', 'Results', 'Violations','Location' ]]

food_col

,Inspection ID,DBA Name,License #,Facility Type,Risk,Address,Zip,Inspection Date,Inspection Type,Results,Violations,Location
0,2484567,ROYALTY,1306130.0,Restaurant,Risk 1 (High),3810 W 63RD ST,60629.0,02/05/2021,Non-Inspection,No Entry,NaN,"(-87.71836138998039, 41.778836516734856)"
1,2473041,ROSATI'S GRANT PARK,2762683.0,Restaurant,Risk 1 (High),23 E ADAMS ST,60603.0,01/22/2021,License,Pass,NaN,"(-87.62684825563626, 41.879391313239694)"
2,2472978,ENZO & EMILIA,2762588.0,Restaurant,Risk 1 (High),2840-2542 N MILKWAUKEE AVE,60647.0,01/21/2021,License,Pass,NaN,NaN
3,2472609,MILLENNIAL MART,2528794.0,Grocery Store,Risk 3 (Low),848 N ORLEANS ST,60610.0,01/12/2021,Canvass,Pass,NaN,"(-87.63737677022044, 41.89812004046833)"
4,2464109,JERSEY MIKE'S SUBS,2766632.0,Restaurant,Risk 1 (High),4054 W PETERSON AVE,60646.0,12/28/2020,License,Not Ready,NaN,"(-87.73080815750058, 41.99021854392249)"
...,...,...,...,...,...,...,...,...,...,...,...,...
219436,164343,ENGLEWOOD MARKET,2013411.0,Grocery Store,Risk 2 (Medium),6055-6057 S RACINE AVE,60636.0,02/23/2010,License Re-Inspection,Pass,NaN,"(-87.65445294657616, 41.78345130683472)"
219437,58296,WHOLE FOODS MARKET,1933690.0,Grocery Store,Risk 1 (High),1550 N KINGSBURY ST,60642.0,02/03/2010,Consultation,Pass,32. FOOD AND NON-FOOD CONTACT SURFACES PROPERL...,"(-87.65305069789407, 41.90939878780941)"
219438,134272,CHARLES DARWIN ELEMENTARY SCHOOL,22881.0,School,Risk 1 (High),3116 W Belden,60647.0,01/26/2010,Canvass,Pass,32. FOOD AND NON-FOOD CONTACT SURFACES PROPERL...,"(-87.70543098761328, 41.923349976671894)"
219439,67905,CAFE FURAIBO JAPANESE RESTAURANT & SUSHI,1470830.0,Restaurant,Risk 1 (High),2907 N LINCOLN AVE,60657.0,01/15/2010,Canvass,Pass,"34. FLOORS: CONSTRUCTED PER CODE, CLEANED, GOO...","(-87.66139720963697, 41.934631813223206)"
219440,78294,"TRIPLE A SERVICES, INC.",2009249.0,Mobile Food Dispenser,Risk 3 (Low),2637 S THROOP ST,60608.0,02/03/2010,License,Pass,NaN,"(-87.6549622241458, 41.84467072147077)"

In [75]:
food_na = food_col.dropna(subset=['Location'])
food_na

,Inspection ID,DBA Name,License #,Facility Type,Risk,Address,Zip,Inspection Date,Inspection Type,Results,Violations,Location
0,2484567,ROYALTY,1306130.0,Restaurant,Risk 1 (High),3810 W 63RD ST,60629.0,02/05/2021,Non-Inspection,No Entry,NaN,"(-87.71836138998039, 41.778836516734856)"
1,2473041,ROSATI'S GRANT PARK,2762683.0,Restaurant,Risk 1 (High),23 E ADAMS ST,60603.0,01/22/2021,License,Pass,NaN,"(-87.62684825563626, 41.879391313239694)"
3,2472609,MILLENNIAL MART,2528794.0,Grocery Store,Risk 3 (Low),848 N ORLEANS ST,60610.0,01/12/2021,Canvass,Pass,NaN,"(-87.63737677022044, 41.89812004046833)"
4,2464109,JERSEY MIKE'S SUBS,2766632.0,Restaurant,Risk 1 (High),4054 W PETERSON AVE,60646.0,12/28/2020,License,Not Ready,NaN,"(-87.73080815750058, 41.99021854392249)"
5,2464022,KOVAL DISTILLERY,2658095.0,Restaurant,Risk 2 (Medium),4241 N RAVENSWOOD AVE,60613.0,12/22/2020,License,Pass,NaN,"(-87.67376227707415, 41.959105443227436)"
...,...,...,...,...,...,...,...,...,...,...,...,...
219436,164343,ENGLEWOOD MARKET,2013411.0,Grocery Store,Risk 2 (Medium),6055-6057 S RACINE AVE,60636.0,02/23/2010,License Re-Inspection,Pass,NaN,"(-87.65445294657616, 41.78345130683472)"
219437,58296,WHOLE FOODS MARKET,1933690.0,Grocery Store,Risk 1 (High),1550 N KINGSBURY ST,60642.0,02/03/2010,Consultation,Pass,32. FOOD AND NON-FOOD CONTACT SURFACES PROPERL...,"(-87.65305069789407, 41.90939878780941)"
219438,134272,CHARLES DARWIN ELEMENTARY SCHOOL,22881.0,School,Risk 1 (High),3116 W Belden,60647.0,01/26/2010,Canvass,Pass,32. FOOD AND NON-FOOD CONTACT SURFACES PROPERL...,"(-87.70543098761328, 41.923349976671894)"
219439,67905,CAFE FURAIBO JAPANESE RESTAURANT & SUSHI,1470830.0,Restaurant,Risk 1 (High),2907 N LINCOLN AVE,60657.0,01/15/2010,Canvass,Pass,"34. FLOORS: CONSTRUCTED PER CODE, CLEANED, GOO...","(-87.66139720963697, 41.934631813223206)"
219440,78294,"TRIPLE A SERVICES, INC.",2009249.0,Mobile Food Dispenser,Risk 3 (Low),2637 S THROOP ST,60608.0,02/03/2010,License,Pass,NaN,"(-87.6549622241458, 41.84467072147077)"

In [61]:
sidewalk.columns

Index(['PERMIT NUMBER', 'ACCOUNT NUMBER', 'SITE NUMBER', 'LEGAL NAME',
       'DOING BUSINESS AS NAME', 'ISSUED DATE', 'EXPIRATION DATE',
       'PAYMENT DATE', 'ADDRESS', 'ADDRESS NUMBER START', 'ADDRESS NUMBER',
       'STREET DIRECTION', 'STREET', 'STREET TYPE', 'CITY', 'STATE',
       'ZIP CODE', 'WARD', 'PRECINCT', 'WARD PRECINCT', 'POLICE DISTRICT',
       'LATITUDE', 'LONGITUDE', 'LOCATION'],
      dtype='object')

In [62]:
sidewalk_col = sidewalk[['PERMIT NUMBER','DOING BUSINESS AS NAME', 'ISSUED DATE', 'EXPIRATION DATE','ADDRESS',
                        'ZIP CODE','Location']]

KeyError: "['Location'] not in index"

In [ ]:
sidewalk_col.head()

In [ ]:
sidewalk_rename = sidewalk_col.rename(columns={"LOCATION": "Location", 'ADDRESS':'Address', 'DOING BUSINESS AS NAME': 'DBA Name'})
sidewalk_rename.head()

In [43]:
sidewalk_na = sidewalk_rename.dropna(subset=['Location'])
sidewalk_na

,PERMIT NUMBER,DBA Name,ISSUED DATE,EXPIRATION DATE,Address,ZIP CODE,Location
0,1144484,ASIAN OUTPOST HAWAIIAN HIDEOUT,04/26/2021,05/31/2021,1313 S WABASH AVE,60605.0,"(41.865354331695414, -87.62563915695526)"
1,1144848,AVONDALE TAP,04/26/2021,05/31/2021,3634 W BELMONT AVE,60618.0,"(41.939307518988336, -87.71873540202452)"
2,1145734,Fannie's Cafe,04/26/2021,05/31/2021,4042 N MILWAUKEE AVE,60641.0,"(41.954142628314095, -87.74875050321968)"
3,1145768,FIREWATER SALOON,04/26/2021,05/31/2021,6689 N OLIPHANT AVE,60631.0,"(42.002412235795916, -87.81634603832423)"
4,1146032,BRINDILLE,04/26/2021,05/31/2021,534 N CLARK ST,60654.0,"(41.89182682768055, -87.63127921038205)"
...,...,...,...,...,...,...,...
1123,1148440,KATHERINE ANNE CONFECTIONS,04/16/2021,02/28/2022,2745 W ARMITAGE AVE,60647.0,"(41.917386311482865, -87.69658543262949)"
1124,1148442,SIENA TAVERN,04/16/2021,02/28/2022,51 W KINZIE ST,60654.0,"(41.88911807836364, -87.62992330278485)"
1125,1148446,BARRIO / BODEGA,04/16/2021,02/28/2022,65 W KINZIE ST,60654.0,"(41.8891091281777, -87.6305406286297)"
1126,1148450,PUBLIC HOUSE,04/16/2021,02/28/2022,400 N STATE ST,60654.0,"(41.88931871105875, -87.62815266789968)"
1127,1148451,STAND-UP BURGERS,04/16/2021,02/28/2022,614 W DIVERSEY PKWY,60614.0,"(41.93291687750861, -87.64457163885304)"

In [41]:
Join = sidewalk_na.merge(food_na,on= "Location', sort=False)

In [42]:
Join.head()

Empty DataFrame
Columns: [PERMIT NUMBER, DBA Name_x, ISSUED DATE, EXPIRATION DATE, Address_x, ZIP CODE, Location, Inspection ID, DBA Name_y, License #, Facility Type, Risk, Address_y, Zip, Inspection Date, Inspection Type, Results, Violations]
Index: []

In [7]:
Join.columns

Index(['PERMIT NUMBER', 'ACCOUNT NUMBER', 'SITE NUMBER', 'LEGAL NAME',
       'DOING BUSINESS AS NAME', 'ISSUED DATE', 'EXPIRATION DATE',
       'PAYMENT DATE', 'ADDRESS', 'ADDRESS NUMBER START', 'ADDRESS NUMBER',
       'STREET DIRECTION', 'STREET', 'STREET TYPE', 'CITY', 'STATE',
       'ZIP CODE', 'WARD', 'PRECINCT', 'WARD PRECINCT', 'POLICE DISTRICT',
       'LATITUDE', 'LONGITUDE', 'Location', 'Inspection ID', 'DBA Name',
       'AKA Name', 'License #', 'Facility Type', 'Risk', 'Address', 'City',
       'State', 'Zip', 'Inspection Date', 'Inspection Type', 'Results',
       'Violations', 'Latitude', 'Longitude'],
      dtype='object')

In [8]:
Join = Join[['Inspection ID','DBA Name','DOING BUSINESS AS NAME','AKA Name', 'License #', 'Facility Type',
       'Risk', 'Address','ADDRESS', 'Zip','ZIP CODE','Violations','PERMIT NUMBER', 'ISSUED DATE','Location']]

In [9]:
Join.head()

,Inspection ID,DBA Name,DOING BUSINESS AS NAME,AKA Name,License #,Facility Type,Risk,Address,ADDRESS,Zip,ZIP CODE,Violations,PERMIT NUMBER,ISSUED DATE,Location
0,2472978,ENZO & EMILIA,BOB'S PIZZA,ENZO & EMILIA,2762588.0,Restaurant,Risk 1 (High),2840-2542 N MILKWAUKEE AVE,1659 W 21ST,60647.0,NaN,NaN,1145878,07/01/2020,NaN
1,2352760,PLAZA FOOD AND LIQUOR,BOB'S PIZZA,PLAZA FOOD AND LIQUOR,2689757.0,Grocery Store,Risk 3 (Low),3455-3459 S OGDEN AVE,1659 W 21ST,60623.0,NaN,NaN,1145878,07/01/2020,NaN
2,2312360,"PACINO'S RC, LLC",BOB'S PIZZA,PACINOS,2683669.0,Restaurant,Risk 3 (Low),1010 S DELANO CT,1659 W 21ST,60605.0,NaN,NaN,1145878,07/01/2020,NaN
3,2311667,"PACINO'S RC, LLC",BOB'S PIZZA,PACINOS,2683669.0,Restaurant,Risk 3 (Low),1010 S DELANO CT,1659 W 21ST,60605.0,NaN,NaN,1145878,07/01/2020,NaN
4,2293744,NOURISH,BOB'S PIZZA,NOURISH,2653129.0,Shared Kitchen User (Short Term),Risk 2 (Medium),1307 CARDINAL DR,1659 W 21ST,60102.0,NaN,"3. MANAGEMENT, FOOD EMPLOYEE AND CONDITIONAL E...",1145878,07/01/2020,NaN