In [1]:
import pandas as pd
food_df = pd.read_csv('Food_Inspections.csv')
sidewalk = pd.read_csv('Sidewalk_Cafe_Permits_-_Current.csv')

In [2]:
food_df.head()

,Inspection ID,DBA Name,AKA Name,License #,Facility Type,Risk,Address,City,State,Zip,Inspection Date,Inspection Type,Results,Violations,Latitude,Longitude,Location
0,2484567,ROYALTY,ROYALTY,1306130.0,Restaurant,Risk 1 (High),3810 W 63RD ST,CHICAGO,IL,60629.0,02/05/2021,Non-Inspection,No Entry,NaN,41.778837,-87.718361,"(-87.71836138998039, 41.778836516734856)"
1,2473041,ROSATI'S GRANT PARK,ROSATI'S,2762683.0,Restaurant,Risk 1 (High),23 E ADAMS ST,CHICAGO,IL,60603.0,01/22/2021,License,Pass,NaN,41.879391,-87.626848,"(-87.62684825563626, 41.879391313239694)"
2,2472978,ENZO & EMILIA,ENZO & EMILIA,2762588.0,Restaurant,Risk 1 (High),2840-2542 N MILKWAUKEE AVE,CHICAGO,IL,60647.0,01/21/2021,License,Pass,NaN,NaN,NaN,NaN
3,2472609,MILLENNIAL MART,MILLENNIAL MART,2528794.0,Grocery Store,Risk 3 (Low),848 N ORLEANS ST,CHICAGO,IL,60610.0,01/12/2021,Canvass,Pass,NaN,41.898120,-87.637377,"(-87.63737677022044, 41.89812004046833)"
4,2464109,JERSEY MIKE'S SUBS,JERSEY MIKE'S SUBS,2766632.0,Restaurant,Risk 1 (High),4054 W PETERSON AVE,CHICAGO,IL,60646.0,12/28/2020,License,Not Ready,NaN,41.990219,-87.730808,"(-87.73080815750058, 41.99021854392249)"

In [3]:
sidewalk

,PERMIT NUMBER,ACCOUNT NUMBER,SITE NUMBER,LEGAL NAME,DOING BUSINESS AS NAME,ISSUED DATE,EXPIRATION DATE,PAYMENT DATE,ADDRESS,ADDRESS NUMBER START,...,CITY,STATE,ZIP CODE,WARD,PRECINCT,WARD PRECINCT,POLICE DISTRICT,LATITUDE,LONGITUDE,LOCATION
0,1144484,379784,1,ASIAN OUTPOST CORP.,ASIAN OUTPOST HAWAIIAN HIDEOUT,04/26/2021,05/31/2021,06/03/2020,1313 S WABASH AVE,1313,...,CHICAGO,IL,60605.0,3,NaN,NaN,1.0,41.865354,-87.625639,"(41.865354331695414, -87.62563915695526)"
1,1144848,395072,1,"THE AVONDALE COFFEE, LLC",AVONDALE TAP,04/26/2021,05/31/2021,07/06/2020,3634 W BELMONT AVE,3634,...,CHICAGO,IL,60618.0,30,NaN,NaN,17.0,41.939308,-87.718735,"(41.939307518988336, -87.71873540202452)"
2,1145734,372276,6,FANNIE SCHMOE'S BAKERY LLC,Fannie's Cafe,04/26/2021,05/31/2021,03/11/2021,4042 N MILWAUKEE AVE,4042,...,CHICAGO,IL,60641.0,45,NaN,NaN,16.0,41.954143,-87.748751,"(41.954142628314095, -87.74875050321968)"
3,1145768,46344,2,"MICHAEL'S NEIGHBORHOOD PUB, INC.",FIREWATER SALOON,04/26/2021,05/31/2021,04/26/2021,6689 N OLIPHANT AVE,6689,...,CHICAGO,IL,60631.0,41,NaN,NaN,16.0,42.002412,-87.816346,"(42.002412235795916, -87.81634603832423)"
4,1146032,215163,2,"BELLA VISTA GALLERY, INC.",BRINDILLE,04/26/2021,05/31/2021,11/19/2020,534 N CLARK ST,534,...,CHICAGO,IL,60654.0,42,NaN,NaN,18.0,41.891827,-87.631279,"(41.89182682768055, -87.63127921038205)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1123,1148440,380136,1,"KATHERINE ANNE CONFECTIONS, LLC",KATHERINE ANNE CONFECTIONS,04/16/2021,02/28/2022,04/15/2021,2745 W ARMITAGE AVE,2745,...,CHICAGO,IL,60647.0,1,NaN,NaN,14.0,41.917386,-87.696585,"(41.917386311482865, -87.69658543262949)"
1124,1148442,366847,1,THE ITALIAN JOB LLC,SIENA TAVERN,04/16/2021,02/28/2022,04/16/2021,51 W KINZIE ST,51,...,CHICAGO,IL,60654.0,42,NaN,NaN,18.0,41.889118,-87.629923,"(41.88911807836364, -87.62992330278485)"
1125,1148446,376612,1,"353 NORTH CLARK, LLC.",BARRIO / BODEGA,04/16/2021,02/28/2022,04/16/2021,65 W KINZIE ST,65,...,CHICAGO,IL,60654.0,42,NaN,NaN,18.0,41.889109,-87.630541,"(41.8891091281777, -87.6305406286297)"
1126,1148450,345226,2,"EXACTA, LLC",PUBLIC HOUSE,04/16/2021,02/28/2022,04/16/2021,400 N STATE ST,400,...,CHICAGO,IL,60654.0,42,NaN,NaN,18.0,41.889319,-87.628153,"(41.88931871105875, -87.62815266789968)"
1127,1148451,422130,2,"THE VEGGIE GRILL, INC.",STAND-UP BURGERS,04/16/2021,02/28/2022,04/16/2021,614 W DIVERSEY PKWY,614,...,CHICAGO,IL,60614.0,44,NaN,NaN,19.0,41.932917,-87.644572,"(41.93291687750861, -87.64457163885304)"

In [4]:
sidewalk = sidewalk.rename(columns={"LOCATION": "Location"})

In [5]:
Join = sidewalk.merge(food_df,on="Location", how='inner', sort=False)

In [6]:
Join.head()

,PERMIT NUMBER,ACCOUNT NUMBER,SITE NUMBER,LEGAL NAME,DOING BUSINESS AS NAME,ISSUED DATE,EXPIRATION DATE,PAYMENT DATE,ADDRESS,ADDRESS NUMBER START,...,Address,City,State,Zip,Inspection Date,Inspection Type,Results,Violations,Latitude,Longitude
0,1145878,431422,1,"PLEASANT PIZZA, L.L.C.",BOB'S PIZZA,07/01/2020,05/31/2021,07/01/2020,1659 W 21ST,1659,...,2840-2542 N MILKWAUKEE AVE,CHICAGO,IL,60647.0,01/21/2021,License,Pass,NaN,NaN,NaN
1,1145878,431422,1,"PLEASANT PIZZA, L.L.C.",BOB'S PIZZA,07/01/2020,05/31/2021,07/01/2020,1659 W 21ST,1659,...,3455-3459 S OGDEN AVE,CHICAGO,IL,60623.0,12/04/2019,License Re-Inspection,Pass,NaN,NaN,NaN
2,1145878,431422,1,"PLEASANT PIZZA, L.L.C.",BOB'S PIZZA,07/01/2020,05/31/2021,07/01/2020,1659 W 21ST,1659,...,1010 S DELANO CT,CHICAGO,IL,60605.0,09/16/2019,License Re-Inspection,Pass,NaN,NaN,NaN
3,1145878,431422,1,"PLEASANT PIZZA, L.L.C.",BOB'S PIZZA,07/01/2020,05/31/2021,07/01/2020,1659 W 21ST,1659,...,1010 S DELANO CT,CHICAGO,IL,60605.0,09/03/2019,License,Fail,NaN,NaN,NaN
4,1145878,431422,1,"PLEASANT PIZZA, L.L.C.",BOB'S PIZZA,07/01/2020,05/31/2021,07/01/2020,1659 W 21ST,1659,...,1307 CARDINAL DR,ALGONQUIN,IL,60102.0,06/18/2019,Canvass,Pass w/ Conditions,"3. MANAGEMENT, FOOD EMPLOYEE AND CONDITIONAL E...",NaN,NaN

In [7]:
Join.columns

Index(['PERMIT NUMBER', 'ACCOUNT NUMBER', 'SITE NUMBER', 'LEGAL NAME',
       'DOING BUSINESS AS NAME', 'ISSUED DATE', 'EXPIRATION DATE',
       'PAYMENT DATE', 'ADDRESS', 'ADDRESS NUMBER START', 'ADDRESS NUMBER',
       'STREET DIRECTION', 'STREET', 'STREET TYPE', 'CITY', 'STATE',
       'ZIP CODE', 'WARD', 'PRECINCT', 'WARD PRECINCT', 'POLICE DISTRICT',
       'LATITUDE', 'LONGITUDE', 'Location', 'Inspection ID', 'DBA Name',
       'AKA Name', 'License #', 'Facility Type', 'Risk', 'Address', 'City',
       'State', 'Zip', 'Inspection Date', 'Inspection Type', 'Results',
       'Violations', 'Latitude', 'Longitude'],
      dtype='object')

In [8]:
Join = Join[['Inspection ID','DBA Name','DOING BUSINESS AS NAME','AKA Name', 'License #', 'Facility Type',
       'Risk', 'Address','ADDRESS', 'Zip','ZIP CODE','Violations','PERMIT NUMBER', 'ISSUED DATE','Location']]

In [9]:
Join.head()

,Inspection ID,DBA Name,DOING BUSINESS AS NAME,AKA Name,License #,Facility Type,Risk,Address,ADDRESS,Zip,ZIP CODE,Violations,PERMIT NUMBER,ISSUED DATE,Location
0,2472978,ENZO & EMILIA,BOB'S PIZZA,ENZO & EMILIA,2762588.0,Restaurant,Risk 1 (High),2840-2542 N MILKWAUKEE AVE,1659 W 21ST,60647.0,NaN,NaN,1145878,07/01/2020,NaN
1,2352760,PLAZA FOOD AND LIQUOR,BOB'S PIZZA,PLAZA FOOD AND LIQUOR,2689757.0,Grocery Store,Risk 3 (Low),3455-3459 S OGDEN AVE,1659 W 21ST,60623.0,NaN,NaN,1145878,07/01/2020,NaN
2,2312360,"PACINO'S RC, LLC",BOB'S PIZZA,PACINOS,2683669.0,Restaurant,Risk 3 (Low),1010 S DELANO CT,1659 W 21ST,60605.0,NaN,NaN,1145878,07/01/2020,NaN
3,2311667,"PACINO'S RC, LLC",BOB'S PIZZA,PACINOS,2683669.0,Restaurant,Risk 3 (Low),1010 S DELANO CT,1659 W 21ST,60605.0,NaN,NaN,1145878,07/01/2020,NaN
4,2293744,NOURISH,BOB'S PIZZA,NOURISH,2653129.0,Shared Kitchen User (Short Term),Risk 2 (Medium),1307 CARDINAL DR,1659 W 21ST,60102.0,NaN,"3. MANAGEMENT, FOOD EMPLOYEE AND CONDITIONAL E...",1145878,07/01/2020,NaN